<div class="main-content container">
    <h2>FB EVENTS</h2>
  <div *ngFor="let key of objectKeys(allEvents)" class="row-fluid">
    
    <div class="panel panel-default" *ngIf="allEvents[key]['mySource']=='fb'">
      <div class="panel-heading" >
      </div>
      <div class="panel-body" >
        <b>Key:</b>{{key}}<br>
       <b>City: </b> {{allEvents[key]["venue"]["city"]}}<br>
       <b>Source: </b>{{allEvents[key]['mySource']}}
      </div>
     
    </div>
    </div>
    <br><h2>EVENTSHIGH</h2>
    <div *ngFor="let key of objectKeys(allEvents)" class="row-fluid">
    
    <div class="panel panel-default" *ngIf="allEvents[key]['mySource']=='eventsHigh'">
        <div class="panel-heading" >
        </div>
        <div class="panel-body" >
          <b>Key:</b>{{key}}<br>
         <b>City: </b> {{allEvents[key]["venue"]["city"]}}<br>
         <b>Source: </b>{{allEvents[key]['mySource']}}
        </div>
       
      </div>
      </div>
      <br><h2>NODDYSAPP</h2>
      <div *ngFor="let key of objectKeys(allEvents)" class="row-fluid">
      
      <div class="panel panel-default" *ngIf="allEvents[key]['mySource']=='noddysApp'">
          <div class="panel-heading" >
          </div>
          <div class="panel-body" >
            <b>Key:</b>{{key}}<br>
           <b>City: </b> {{allEvents[key]["venue"]["city"]}}<br>
           <b>Source: </b>{{allEvents[key]['mySource']}}
          </div>
         
        </div>
    </div>
  </div>