<div class="main-content container">
    <!-- <button class="btn btn-danger" (click)="purgeAll()">Purge All</button> -->
    <br><br>
    <a [routerLink]="['/addevent']" class="btn btn-lg btn-primary pull-right">Add Event</a>
      <br><h2>EVENTSHIGH <span class="badge" style="font-size: 17px;background-color: blue;">{{ countEventsHigh }}</span></h2>
      <button class="btn btn-success" (click)="purge('eventsHigh')">Purge Eventshigh Events</button><br><br>
    <div *ngFor="let key of objectKeys(allEvents)" class="row-fluid">
      <div class="panel panel-default" *ngIf="allEvents[key]['mySource']=='eventsHigh'">
        <div class="panel-heading" >
               {{allEvents[key].myDisplayTitle}}  
               <div class="label label-primary" *ngIf="allEvents[key]['myEdited']">Edited</div> 
               <div class="btn-group pull-right" style="margin:1px;">
                  <a class="btn btn-info " style="font-size:smaller;"  [routerLink]="['updateEvent']" [queryParams]="{ id: key }"><span class="glyphicon glyphicon-edit"></span> </a>
                <button class="btn btn-danger " style="font-size:smaller;" (click)="purgeEvent(key)"><span class="glyphicon glyphicon-trash"></span></button>
               </div>
        </div>
        <div class="panel-body" >
            
          <span *ngIf="allEvents[key].price[0]['value']!='Not Specified'">
            <b>Price: </b>₹ {{Math.round(allEvents[key].price[0]["value"])}}</span>
         <b>Date: </b> {{allEvents[key].upcoming_occurrences[0]["date"].split(':')[0] | amParse:'YYYY-MM-DD' | amDateFormat:'LL'}}<br>
         <b>Starts: </b>{{(allEvents[key].upcoming_occurrences[0]["start_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}
         <b>Ends: </b>{{(allEvents[key].upcoming_occurrences[0]["end_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}
         <b>Venue: </b><span *ngIf="allEvents[key].venue['name']!=''">{{allEvents[key].venue["name"] + ", " }}</span>{{ allEvents[key].venue["city"]}}
         <span *ngIf="allEvents[key].myLocation!=''">
          <b>Locality: </b>{{allEvents[key].myLocation}}
          
        </span>
        <!-- <a class="btn btn-primary" [routerLink]="['updateEvent']" [queryParams]="{ id: allEvents[key].title }">Update</a> -->
        </div>
       
      </div>
      </div>
      <br><h2>FB EVENTS <span class="badge" style="font-size: 17px;background-color: blue;">{{countFb}}</span></h2><button class="btn btn-primary" (click)="purge('fb')">Purge Fb Events</button><br><br>
      <div *ngFor="let key of objectKeys(allEvents)" class="row-fluid">
        <!-- <div *ngFor="let occurrence of objectKeys(allEvents[key].upcoming_occurrences)"> -->
      <div class="panel panel-default" *ngIf="allEvents[key]['mySource']=='fb'">
          <div class="panel-heading" >
              {{allEvents[key]['myDisplayTitle']}} 
              <div class="label label-primary" *ngIf="allEvents[key]['myEdited']">Edited</div>
              <div class="btn-group pull-right" style="margin:1px;">
                  <a class="btn btn-info " style="font-size:smaller;"  [routerLink]="['updateEvent']" [queryParams]="{ id: key }"><span class="glyphicon glyphicon-edit"></span> </a>
                <button class="btn btn-danger " style="font-size:smaller;" (click)="purgeEvent(key)"><span class="glyphicon glyphicon-trash"></span></button>
               </div>
          </div>
          <div class="panel-body" >
            <span *ngIf="allEvents[key].price[0]['value']!='Not Specified'">
              <b>Price: </b>₹ {{Math.round(allEvents[key].price[0]["value"])}}</span>
            <b>Date: </b> {{allEvents[key].upcoming_occurrences[0]["date"].split(':')[0] | amParse:'YYYY-MM-DD' | amDateFormat:'LL'}}<br>
            <b>Starts: </b>{{(allEvents[key].upcoming_occurrences[0]["start_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}
            <b>Ends: </b>{{(allEvents[key].upcoming_occurrences[0]["end_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}
            <b>Venue: </b><span *ngIf="allEvents[key].venue['name']!=''">{{allEvents[key].venue["name"] + ", " }}</span>{{ allEvents[key].venue["city"]}}
            <span *ngIf="allEvents[key].myLocation!=''">
             <b>Locality: </b>{{allEvents[key].myLocation}}
             
           </span>
          </div>
         
        </div>
        <!-- </div> -->
        </div>
        <br><h2>NODDYSAPP <span class="badge" style="font-size: 17px;background-color: blue;">{{countNoddy}}</span></h2><button class="btn btn-warning" (click)="purge('noddysApp')">Purge Noddys Events</button><br><br>
        <div *ngFor="let key of objectKeys(allEvents)" class="row-fluid">
        <div class="panel panel-default" *ngIf="allEvents[key]['mySource']=='noddysApp'">
            <div class="panel-heading" >
                {{allEvents[key].myDisplayTitle}}
                <div class="label label-primary" *ngIf="allEvents[key]['myEdited']">Edited</div>
                <div class="btn-group pull-right" style="margin:1px;">
                    <a class="btn btn-info " style="font-size:smaller;"  [routerLink]="['updateEvent']" [queryParams]="{ id: key }"><span class="glyphicon glyphicon-edit"></span> </a>
                  <button class="btn btn-danger " style="font-size:smaller;" (click)="purgeEvent(key)"><span class="glyphicon glyphicon-trash"></span></button>
                 </div>
            </div>
            <div class="panel-body" >
              <span *ngIf="allEvents[key].price[0]['value']!='Not Specified'">
                <b>Price: </b>₹ {{Math.round(allEvents[key].price[0]["value"])}}</span>
              <b>Date: </b> {{allEvents[key].upcoming_occurrences[0]["date"].split(':')[0] | amParse:'YYYY-MM-DD' | amDateFormat:'LL'}}<br>
              <b>Starts: </b>{{(allEvents[key].upcoming_occurrences[0]["start_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}
              <b>Ends: </b>{{(allEvents[key].upcoming_occurrences[0]["end_time"]| amParse:'hh:mm:ss' | amCalendar).split("at")[1]}}
              <b>Venue: </b><span *ngIf="allEvents[key].venue['name']!=''">{{allEvents[key].venue["name"] + ", " }}</span>{{ allEvents[key].venue["city"]}}
              <span *ngIf="allEvents[key].myLocation!=''">
               <b>Locality: </b>{{allEvents[key].myLocation}}
               
             </span>
            </div>
           
          </div>
          </div>
      </div>